<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antitheft">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_final_foreground"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.EnterCarDetails" />
        <activity android:name=".activity.PoliceLogin" />
        <activity android:name=".activity.MechanicDetails" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CarDetails">

        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>